<app-input-product [newProduct]="lastSelectedProduct" (onSubmit)="onAddProduct($event)">
</app-input-product>
<div *ngIf="false">
	<input [(ngModel)]="bindTest">
	{{ bindTest }}
</div>
<table class="table table-bordered table-hover">
	<tr class="warning">
		<td>NAME</td>
		<td>PRICE</td>
		<td>TYPE</td>
	</tr>
	<tr *ngFor="let product of products" (click)="onElemClicked(product)" [ngClass]="getProductClass(product)">
		<td>{{ product.name }}</td>
		<td>{{ product.price | devise}}</td>
		<td>{{ product.type }}</td>
	</tr>
</table>

<div>
	<button (click)="clearAll()" class="btn btn-default">CLEAR</button>
	<button (click)="clearSelection()" class="btn btn-default" [disabled]="selectedProducts.length == 0">CLEAR SELECTION</button>
	<button HighlightRemoveDirective (click)="removeSelected()" class="btn btn-default">REMOVE</button>
</div>